.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .lineBox {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 8rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    .lineInfo {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 20%;
      height: 5%;
      cursor: pointer;

      strong {
        &.selected {
          color: #007aff;
        }
      }

      .line {
        width: 50%;
        height: 0.1rem;
      }
    }
  }

  .buttonBox {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    gap: 0.5rem;

    svg {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
    }
  }
}

.trainControlModal {
  position: absolute;
  top: -200%;
  left: -1%;
  padding: 3rem;
  width: 100%;
  background-color: #111;

  #modalTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #333;

    h3 {
      font-size: 1.2rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  #content {
    display: flex;
    flex-direction: column;
    
  }
}
