.sideBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #181818;
}

.title {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.rightBar {
  .time {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
